@import '../../styles/variables.scss';

.faq{
    display: block;
    &__wrapper{
        margin-top: 56px;
        display: grid;
        grid-template-columns: 496px 1fr;
        gap: 24px;
        max-height: 100%;
    }
    &__block{
        height: 500px;
        position: relative;
    }
    &__image{
        transform: translateX(5%);
        margin-top: 20px;
        position: relative;
        z-index: -1;
    }
    &__description{
        max-width: 55%;
        font-size: $font-size-p1;
        font-weight: 400;
        line-height: 140%;
    }
    &-question{
        width: 703px;
        max-height: 66px;
        box-sizing: border-box;
        overflow: hidden;
        clip-path: polygon(100% 0%, 5% 0, 0 40%, 0 100%, 95% 100%, 100% 60%);
        border: 1px solid rgba(21, 191, 253, 0.6980392157);
        margin-top: 24px;
        padding: 16px 6px 16px 24px;
        position: relative;
        transition: 0.5s all;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 8px;
        &:first-child{
            margin-top: 0;
        }
        &::after, &::before{
            content: '';
            display: block;
            width: 1px;
            height: 70px;
            background: rgba(21, 191, 253, 0.6980392157);
            position: absolute;
            transition: 0.5s all;
        }
        &::after{
            top: -30px;
            left: 26.6px;
            transform: rotate(53deg);
        }
        &::before{
            bottom: -17.3px;
            right: 10.5px;
            transform: rotate(53deg);
        }
        &__active{
            max-height: 166px;
            padding: 27.5px 6px 27.5px 24px;
            clip-path: polygon(100% 0%, 4% 0, 0 18%, 0 100%, 95% 100%, 100% 78%);
            position: relative;
            z-index: 10;
            &::after{
                top: -20px;
                left: 12.7px;
                transform: rotate(43deg);
            }
            &::before{
                bottom: -15.5px;
                right: 14.7px;
                transform: rotate(44deg);
            }
            .faq-question-mark{
                &_active{
                    opacity: 0;
                }
                &_disable{
                    opacity: 1;
                }
            }
        }
        h4{
            text-align: left;
        }
        &__top{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-mark{
            width: 24px;
            height: 24px;
            position: relative;
            cursor: pointer;
            &_active, &_disable{
                position: absolute;
                top: 0;
                left: 0;
                transition: 0.2s opacity;
            }
            &_disable{
                opacity: 0;
            }
        }
        &__answer{
            font-size: $font-size-p1;
            font-weight: 400;
            line-height: 140%;
            margin-top: 16px;
            max-width: 90%;
        }
    }
}

@keyframes borderLineBig {
    0%{
        opacity: 1;
    }
}