@import '../../styles/variables.scss';

.faq{
    display: block;
    &__wrapper{
        margin-top: 56px;
        display: grid;
        grid-template-columns: 496px 1fr;
        gap: 24px;
        max-height: 100%;
    }
    &__block{
        height: 500px;
        position: relative;
    }
    &__image{
        transform: translateX(5%);
        margin-top: 20px;
        position: relative;
        z-index: -1;
    }
    &__description{
        max-width: 55%;
        font-size: $font-size-p1;
        font-weight: 400;
        line-height: 140%;
    }
    &-question{
        background: url('../../images/faq/subtract.svg') no-repeat;
        background-size: 100% 100%;
        width: 703px;
        max-height: 65px;
        box-sizing: border-box;
        overflow: hidden;
        margin-top: 24px;
        padding: 16px 6px 16px 24px;
        position: relative;
        transition: 0.5s all;
        &:first-child{
            margin-top: 0;
        }
        &__active{
            max-height: 166px;
            padding: 27.5px 6px 27.5px 24px;
            position: relative;
            z-index: 10;
            .faq-question-mark{
                &_active{
                    opacity: 0;
                }
                &_disable{
                    opacity: 1;
                }
            }
        }
        h4{
            text-align: left;
        }
        &__top{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-mark{
            width: 24px;
            height: 24px;
            position: relative;
            cursor: pointer;
            &_active, &_disable{
                position: absolute;
                top: 0;
                left: 0;
                transition: 0.2s opacity;
            }
            &_disable{
                opacity: 0;
            }
        }
        &__answer{
            font-size: $font-size-p1;
            font-weight: 400;
            line-height: 140%;
            margin-top: 16px;
            max-width: 90%;
        }
    }
}