@import '../../styles/variables.scss';

.contact-us{
    display: block;
    &__block{
        padding: 56px;
        border-radius: 20px;
        background: $color-gray_saturated;
        backdrop-filter: blur(5px);
        border: 1px solid rgba(21, 191, 253, 0.6980392157)
    }
    &__wrapper{
        margin: 0 auto;
        width: 630px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__description{
        margin-top: 16px;
        font-size: $font-size-p1;
        font-weight: 400;
        line-height: 140%;
    }
    &__form{
        margin-top: 24px;
        max-width: 500px;
        width: 100%;
    }
}