

$color-red: #FD4646;
$color-white: #FFFFFF;
$color-gray: #636363;
$color-gray_saturated: #FFFFFF0D;
$color-blue: #3B48D0;
$color-blue_saturated: #0A1482;
$color-blue_thin: #A2CBFB;
$color-blue_background: #0C102D;

$background-gradient_blue: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$background-gradient_aqua: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
$background-gradient_multicolor: linear-gradient(90deg, rgba(21, 191, 253, 0) 8.03%, rgba(21, 191, 253, 0.7) 69.15%, rgba(156, 55, 253, 0.7) 97.95%);

$font-famimy-ClashDisplay: 'ClashDisplay', sans-serif;
$font-famimy-Inter: 'Inter', sans-serif;

$font-size-h1: 150px;
$font-size-h2: 72px;
$font-size-h3: 32px;
$font-size-h4: 24px;
$font-size-p1: 16px;
$font-size-p2: 14px;

$transition-button: 0.25s all;
$transition-input: 0.25s all;